apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Values.executionEnvironment.name}}
  name: {{ .Values.executionEnvironment.name}}
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: {{ .Values.executionApi.name}}
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Values.executionApi.name }}
  name: {{ .Values.executionApi.name }}
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: {{ .Values.executionApi.name }}
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.executionApi.name }}
  labels:
    app: {{ .Values.executionApi.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.executionApi.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.executionApi.name }}
    spec:
      volumes:
        - name: shared-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-workflow-logs-pvc
      containers:
        - name: {{ .Values.executionApi.name }}
          image: {{ .Values.executionApi.image }}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: WORKFLOW_LOGS_PATH
              value: {{ .Values.global.workflow_log_path }}
            - name: WORKFLOW_DB
              value: {{ .Values.mongodb.workflowdb.name }}
            - name: WORKFLOW_COLLECTION
              value: {{ .Values.mongodb.workflowdb.collection }}
            - name: CODE_GENERATOR_EXCHANGE_NAME
              value: {{ .Values.codeGenerator.exchange_name }}
            - name: CODE_GENERATOR_ROUTING_KEY
              value: {{ .Values.codeGenerator.routing_key }}
            - name: CINCO_DE_BIO_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: shared-volume
              mountPath: /app/data
        - name: {{ .Values.executionEnvironment.name}}
          image: {{ .Values.executionEnvironment.image }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: WORKFLOW_LOGS_PATH
              value: {{ .Values.global.workflow_log_path }}
            - name: CODE_GENERATOR_EXCHANGE_NAME
              value: {{ .Values.codeGenerator.exchange_name }}
            - name: CODE_GENERATOR_ROUTING_KEY
              value: {{ .Values.codeGenerator.routing_key }}
            - name: CINCO_DE_BIO_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: shared-volume
              mountPath: /app/data
      
