<nav>
        <!-- need to set a proper source URI for this -->
        <img id="cdbLogo" src="/app/static/cdbLogo.png" alt="Image">
        <ul>
            <!-- URLs need to be set by the cluster ingress -->
            <li><a href="/app/workflows">Workflows</a></li>
            <li><a href="/app/data-manager">Data Upload</a></li>
            <li><a href="/app/sib-manager">Manage Sibs</a></li>
        </ul>
    </nav>