apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Values.serviceApi.name }}
  name: {{ .Values.serviceApi.name }}
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: {{ .Values.serviceApi.name }}
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.serviceApi.name }}
  labels:
    app: {{ .Values.serviceApi.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.serviceApi.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.serviceApi.name }}
    spec:
      containers:
        - name: {{ .Values.serviceApi.name }}
          image: {{ .Values.serviceApi.image }}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: DPS_NAMESPACE
              value: {{ .Release.Namespace }}-dps
            - name: MINIO_ACCESS_KEY
              value: {{ .Values.minio.auth.rootUser }}
            - name: MINIO_SECRET_KEY 
              value: {{ .Values.minio.auth.rootPassword }}
            - name: MINIO_WORKFLOW_BUCKET
              value: {{ .Values.minio.buckets.workflowBucket }}
            - name: MINIO_EXPERIMENT_BUCKET
              value: {{ .Values.minio.buckets.experimentBucket }}
            - name: MINIO_SERVICE_HOSTNAME
              value: {{ .Values.minio.nameOverride }}
            - name: JOBS_API_SERVICE_HOSTNAME
              value: {{ .Values.jobsApi.name }}
            - name: EXECUTION_API_INGRESS_PATH
              value: {{ .Values.global.ingress_paths.execution_api_ingress_path }}
            - name: SERVICES_API_SERVICE_HOSTNAME
              value: {{ .Values.global.ingress_paths.services_api_ingress_path }}
            - name: MINIO_PRESIGNED_INGRESS_PATH
              value: {{ .Values.global.ingress_paths.minio_presigned_ingress_path }}
            - name: MINIO_EXTERNAL_HOST
              value: {{ .Values.minioHostname }}

            - name: CINCO_DE_BIO_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace 
        